.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.originalFooter {
  flex: 1;
  margin-top: 3rem;
}

.feedbackLink {
  text-decoration: none;
  font-size: var(--ifm-font-size-base);
  line-height: 1.5;
  position: absolute;
  right: 0;
  bottom: 0;
}
